.bc {
    background-image: url(./foto/Rectangle\ \(22\).png);
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
}
 .bgc {
    background-image: url(./foto/Rectangle\ \(33\).png);
    background-repeat: no-repeat;
    width: 100%;
    height: 450vh;
} 