.bc {
    background-image: url(./foto/Rectangle\ \(22\).png);
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
}
 .bgc {
    background-image: url(./foto/Rectangle\ \(33\).png);
    background-repeat: no-repeat;
    width: 100%;
    height: 410vh;
} 
.bgc3 {
    background-image: url(./foto/Rectangle\ \(34\).png);
     background-repeat: no-repeat;
    width: 100%;
    height: 140vh;
}